@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

:root {
  --base: #ff0000;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.h1 {
  color: var(--base);
}

body {
  text-align: center;
}

body {
  background: #193549;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100px;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}